@model UserListModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<partial name="_StatusMessage"></partial>
<p>Tổng số thành viên: @Model.totalUsers</p>

<table class="table">
    <tr>
        <th>Tên user</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td style="width: 30%; display: flex;">@user.UserName</td>
            <td style="width: 40%;">
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-action="AddRole" asp-route-id="@user.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-action="AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
            </td>
            <td style="width: 30$;">
                <div>
                    <div style="display: flex;">
                        <div style="padding-right: 1%;">
                            <a style="padding: 10px 20px;" class="btn btn-success btn-sm btn-warning"
                                asp-action="SetPassword" asp-route-id="@user.Id">Đặt mật
                                khẩu</a>
                        </div>
                        <div style="padding-right: 1%;">
                            <a style="padding: 10px 20px;" class="btn btn-info btn-sm btn-warning" asp-action="UserDetail"
                                asp-route-id="@user.Id">Xem chi tiết</a>
                        </div>
                        <div style="padding-right: 1%;">
                            <form asp-action="LockUser" asp-route-id="@user.Id" method="post">
                                <button style="padding: 10px 20px;" type="submit" class="btn  btn-sm btn-warning">
                                    Khóa
                                </button>
                            </form>
                        </div>
                        <div>
                            <form asp-action="UnlockUser" asp-route-id="@user.Id" method="post">
                                <button style="padding: 10px 20px;" type="submit"
                                    class="btn btn-success btn-sm btn-warning">
                                    Mở Khóa
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    }
</table>
@{
    var pagingmodel = new PagingModel()
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => Url.Action("Index", new { p = p })
            };
}
<partial name="_PagingXTL" model="@pagingmodel" />
