@using App.Components
@model App.Components.CategorySideBar.CategorySideBarData
@{
    int level = Model.level;
}

@if (Model.Categories.Count > 0)
{
    <div class="category-container d-flex justify-content-start">
        @foreach (var item in Model.Categories)
        {
            @if (item.ParentCategory == null)
            {
                <div class="column">
                    <h6>@item.Title</h6>
                    <hr />
                    @if (item.CategoryChildren?.Count > 0)
                    {
                        <ul class="category-popup">
                            @foreach (var itemchild in item.CategoryChildren)
                            {
                                <li>
                                    <a asp-area="Home" asp-controller="ProductView" asp-action="Product"
                                        asp-route-categoryslug="@itemchild.Slug">
                                        @itemchild.Title
                                    </a>
                                </li>
                                <hr />
                            }
                        </ul>
                    }
                </div>
            }
        }
        @if (Model.brands.Count > 0)
        {
            <ul class="column">
                <h6>Thương hiệu</h6>
                <hr />
                @foreach (var brand in Model.brands)
                {
                    <li>
                        <a asp-area="Home" asp-controller="ProductView" asp-action="Product" asp-route-brandslug="@brand.Slug">
                            <img src="@brand.Image" alt="@brand.Name" style="max-width: 100px;" />
                        </a>
                    </li>
                    <hr />
                }
            </ul>
        }
    </div>
}




<style>
    .category-container {
        display: flex;
        text-align: left;
        justify-content: center;
        gap: 80px;
    }

    .collum {
        position: relative;
        width: 150px;
    }

    .collum h5 {
        margin-bottom: 10px;
    }

    .categorypopup {
        position: fixed;
        top: 103px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        display: none;
        background-color: white;
        padding: 10px;
    }

    .category-product {
        position: relative;
    }

    .categorypopup ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .categorypopup li {
        padding: 8px 16px;
    }

    .categorypopup li a {
        text-decoration: none;
        color: #333;
    }

    .categorypopup li a:hover {
        color: #007bff;
    }
</style>
