@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@inject SignInManager<AppUser> SignInManager

@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/login/style.css" asp-append-version="true" />
    <script src="~/login/showPassword.js" asp-append-version="true" ></script>
    <script src="https://kit.fontawesome.com/e21f566ee8.js" crossorigin="anonymous"></script>

</head>

<div class="d-flex justify-content-center "> 
    <img src="/image/logo.png" class="img shadow-2-strong" alt="LOGO" />
</div>

<h1 class="d-flex justify-content-center">@ViewData["Title"].</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Tên người dùng</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Xác nhận mật khẩu</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row justify-content-center ">
                <button type="submit" class="mt-2 btn btn-outline-primary btn-rounded btn-block">ĐĂNG KÝ</button>
            </div>
            <div>
                <section>
                    @{
                        var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                        var loginProviders = schemes.ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="ExternalLogin" 
                            asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                 <div>
                                    <p class=" row justify-content-center">
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="mt-2 btn btn-outline-primary btn-rounded" 
                                            name="provider" value="@provider.Name" title="Log in using your @provider.Name account">
                                                @switch(provider.Name)
                                                {
                                                    case "Google":                                                            <i class="fab fa-google"></i> <!-- Sử dụng font awesome icon -->
                                                          break;
                                                    case "Facebook":
                                                        <i class="fa-brands fa-facebook-f"></i> <!-- Sử dụng font awesome icon -->
                                                        break;                                                        default:
                                                        @provider.Name <!-- Hiển thị tên nhà cung cấp nếu không có icon -->
                                                        break;
                                                }
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

