@model List<App.Models.Product>
@using App.Components

@{
    List<Category> categories = ViewBag.categories as List<Category>;
    List<Brand> brands = ViewBag.brands as List<Brand>;
    Category category = ViewBag.category as Category;
    ViewData["Title"] = (category != null) ? category.Title : "Tất Cả Sản Phẩm";
}

@section Popup {
    @await Component.InvokeAsync(CategorySideBar.COMPONENTNAME,
        new CategorySideBar.CategorySideBarData
{
    level = 0,
    Categories = categories,
    slugCategory = ViewBag.categoryslug as string,
    brands = brands,
    slugBrand = ViewBag.brandslug as string
})
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home </a></li>
        <li class="breadcrumb-item"><a asp-action="Product">Product </a></li>

        @if (category != null)
        {
            var li = category.ListParentsAndSelf();
            foreach (var i in li)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Product" asp-route-categoryslug="@i.Slug">
                        @i.Title
                    </a>
                </li>
            }
        }
        else if (!string.IsNullOrEmpty(ViewBag.brandslug))
        {
            var brand = brands.FirstOrDefault(b => b.Slug == ViewBag.brandslug);
            <li class="breadcrumb-item"><a href="">Thương hiệu</a></li>
            if (brand != null)
            {
                <li class="breadcrumb-item">
                    <a asp-action="Product" asp-route-brandslug="@brand.Slug">
                        @brand.Name
                    </a>
                </li>
            }
        }
    </ol>
</nav>

<body style="padding-bottom: 50px;">
    <div class="mainshop" id="wrapper_mainshop">
        <div class="headline headline_mainshop" style="padding-top: 0; padding-left: 5%;">Shop</div>
        <div class="content_shop">
            <ul class="products">
                @foreach (var product in Model)
                {
                    var categoryOrBrandSlug = product.Brand?.Slug ??
                    product.ProductCategories
                    .FirstOrDefault()?.Category.Slug;

                    <li class="product-item">
                        <div class="product-top">
                            <a asp-action="DetailProduct" asp-controller="Home"
                                asp-route-categoryslug="@categoryOrBrandSlug" asp-route-productslug="@product.Slug"
                                class="product-thumb">
                                <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                    alt="@product.Name">
                            </a>
                        </div>
                        <div class="product-info">
                            <a asp-action="DetailProduct" asp-controller="Home"
                                asp-route-categoryslug="@categoryOrBrandSlug" asp-route-productslug="@product.Slug"
                                class="product-name">@product.Name</a>
                            <div class="product-price">
                                @if (product.DiscountPrice.HasValue)
                                {
                                    <span style="text-decoration: line-through;">@product.Price.ToString("N0") VND</span>
                                    <br />
                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                }
                                else
                                {
                                    <span>@product.Price.ToString("N0") VND</span>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="justify-content-center d-flex flex-wrap ps-3 pe-3 z-3 mb-5">
        <partial name="_PagingXTL" model="@ViewBag.pagingmodel" />
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        // jQuery for toggle sub menus
        $('.sub-btn').click(function () {
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('fa-bicycle fa-person-biking');
        });
    });
</script>
