@{
    ViewData["Title"] = "Sale Page";
}
@using App.Components
@model List<App.Models.Product>

@{
    List<Category> categories = ViewBag.category as List<Category>;
    List<Brand> brands = ViewBag.brands as List<Brand>;
    List<Product> productsBaby = ViewBag.productsBabysale as List<Product>;
    List<Product> productsDua = ViewBag.productsDuasale as List<Product>;
    List<Product> productsDuongpho = ViewBag.productsDuongphosale as List<Product>;
    List<Product> productsPhuNu = ViewBag.productsPhuNusale as List<Product>;
    List<Product> productsDiahinh = ViewBag.productsdiahinhsale as List<Product>;
    List<Product> productsGap = ViewBag.productsgapsale as List<Product>;

    List<Product> Topsale = ViewBag.topSaleProducts as List<Product>;
    List<Product> Hotsale = ViewBag.topSalehotProducts as List<Product>;
    
    
}

@section Popup {

    @await Component.InvokeAsync(CategorySideBar.COMPONENTNAME,
        new CategorySideBar.CategorySideBarData()
{
    level = 0,
    Categories = ViewBag.categories,
    slugCategory = ViewBag.categoryslug,
    brands = ViewBag.brands,
    slugBrand = ViewBag.brandslug
})

}

<body>
    <div style="  background-color: #1b6ec2;;" class="sliders">
        <div class="slider">
            <div class="list">
                <div class="item">
                    <img src="/images/img/banner/BANNER-COVER-ZALO-CT-Tong-CTKM-T4_Banner-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/Banner-Sua-xe-tai-nha-01-1-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/banner-xe-duong-pho-fix-2023-copy-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/BANNER-COVER-ZALO-CT-Tong-CTKM-T4_Banner-scaled.jpg" alt="">
                </div>
                <div class="item">
                    <img src="/images/img/banner/banner-xe-tre-em-fix-2023-copy-scaled.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div style="padding-bottom: 100px;" id="wrapper" class="content_sale">
        <div class="grid">
            <div class="product_main product_main_sale">
                <!--gio vang gia soc-->
                <div class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: translate(130%, -50%);">
                        <span>
                            GIỜ VÀNG GIÁ SỐC
                        </span>
                    </h1>
                    <div class="pox-1">
                        @foreach( var product in Hotsale){
                            var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                            <div class="tst-sale">
                            <div class="fom">
                                <a style="text-decoration: none;" href="" class="text-center">
                                    <div class="product-top">
                                        <img class="card-img-top" src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)" alt="@product.Name">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-name">
                                                <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>

                                    </div>
                                    @if (product.DiscountPrice.HasValue)
                                    {
                                        var discountPercent = ((product.Price - product.DiscountPrice.Value) / product.Price) * 100;
                                        <div class="inside top-right">
                                            <div class="icon">
                                                @discountPercent.ToString("0")%
                                            </div>
                                        </div>
                                    }
                                    <div class="button-wrapper">
                                        <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                            asp-route-categoryslug="@categoryOrBrandSlug"
                                            asp-route-productslug="@product.Slug">
                                            <button class="btn-fill">Chi Tiết</button>
                                        </a>
                                    </div>      
                                </a>
                            </div>

                        </div>
                        }
                    </div>
                    
                </div>
                <div style="padding-bottom: 50px;" class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
                <!--giamgiacaonhat-->
                <div class="collect">
                    <h1 style="transform: translate(130%, -100%); z-index: 20;">
                        <span>
                            GIẢM GIÁ CAO NHẤT
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in Topsale)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style="padding: 20px;" class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
                <!--xedapdiahinhkhuyenmai-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE ĐỊA HÌNH KHUYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsDiahinh)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style=" " class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapxeem-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE TRẺ EM KHUYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsBaby)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style=" " class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                  <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapduongpho-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE ĐƯỜNG PHỐ KHUYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsDuongpho)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style=" " class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                  <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
            
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapphunu-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE PHỤ NỮ KHYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsPhuNu)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style=" " class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                  <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapgap-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE ĐẠP GẤP KHYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsGap)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style=" " class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                  <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>

                <!--xedapdua-->
                <div style="border: none;" class="collect collect_sale_giovanggiasoc">
                    <h1 style="transform: none; position: relative; text-align: start; border: none;">
                        <span>
                            XE ĐẠP ĐUA KHYẾN MÃI
                        </span>
                    </h1>
                    <div class="prod-sale">
                        <div class="slider-product">
                            <div class="list">
                                @foreach (var product in productsDua)
                                {
                                    var categoryOrBrandSlug = product.Brand?.Slug ??product.ProductCategories.FirstOrDefault()?.Category.Slug;
                                    <div style=" " class="item item-sale">
                                        <div class="mol-01">
                                            <div class="product-top">
                                                  <a asp-area="Home" asp-action="DetailProduct" asp-controller="ProductView" 
                                                asp-route-categoryslug="@categoryOrBrandSlug"
                                                asp-route-productslug="@product.Slug" class="BH">
                                                    <img src="@Url.Content("~/images/products/" + product.Slug + "/" + product.MainImage)"
                                                        alt="@product.Name">
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <a class="product-name">
                                                    <span>@product.Name </span>
                                                </a>
                                                <div class="product-price">
                                                    @if (product.DiscountPrice.HasValue)
                                                    {
                                                         <span style="text-decoration: line-through;">@product.Price.ToString("N0")VND</span>
                                                    <br />
                                                    <span>@product.DiscountPrice.Value.ToString("N0") VND</span>
                                                    }
                                                    else
                                                    {
                                                     <span>@product.Price.ToString("N0") VND</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="collect-more_product collect-more_product_sale">
                    <a href="" class="button-more_product">
                        <span style="color: blue; font-size: 13px;">Xem Thêm</span>
                        <i style="color: blue; font-size: 13px;" class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <script>
        
    </script>
    <script src="~/js/slider.js" asp-append-version="true"></script>
    <script src="~/js/slider_product.js" asp-append-version="true"></script>
</body>