@model dynamic
@{
    List<App.Models.Category> categories = Model.categories;
    int level = Model.level;
    string prefix = String.Concat(Enumerable.Repeat("&nbsp;&nbsp;&nbsp;&nbsp;", level));
}

@if (categories.Count > 0)
{
    @foreach (var item in categories)
    {
        <tr>
            <td>
                @Html.Raw(@prefix)
                <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a style="padding: 5px 25px;" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                <a style="padding: 5px 15px;" href="#" onclick="showPopup('warning-popup-@item.Id')"
                    class="btn btn-sm btn-danger">Delete</a>
                <form id="delete-form-@item.Id" style="display: none;" asp-action="Delete" asp-route-id="@item.Id"
                    method="post">
                    <input type="submit" value="Confirm">
                </form>
            </td>
        </tr>

        @if (item.CategoryChildren != null && item.CategoryChildren.Count > 0)
        {
            @await Component.InvokeAsync("RowTreeCategory", new { categories = item.CategoryChildren.ToList(), level = level + 1 })
        }

        <div id="warning-popup-@item.Id" class="popup-0">
            <div class="popup-content">
                <p>Are you sure you want to delete this item?</p>
                <button onclick="document.getElementById('delete-form-@item.Id').submit()">Yes</button>
                <button onclick="hidePopup('warning-popup-@item.Id')">Hủy</button>
            </div>
        </div>
    }
}
<script>
    function showPopup(id) {
        document.getElementById(id).classList.add('show');
    }

    function hidePopup(id) {
        document.getElementById(id).classList.remove('show');
    }
</script>
